body {
  color: white;
  background: black;
  font-family: sans-serif;
  font-size: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lobster', cursive;
}

canvas {
  position:absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

#root {
  position:absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  overflow: auto;
}

header {
  text-align: center;

  a {
    text-decoration: none;
    text-decoration: none;
    color: white;
    opacity: 0.8;

    &:hover, &.active {
      opacity: 1;
    }
  }
}

h1 {
  font-weight: normal;
  font-size: 3em;
  margin: 0;
  padding: 0;
}


nav {
  a {
    margin-right: 10px;
  }
}

article {
  max-width: 960px;
  margin: auto;
  padding: 10px;
}
