@import url("https://fonts.googleapis.com/css?family=Lobster&display=swap");
@import "./1942-font/stylesheet.scss";

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: white;
  background: black;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 20px;
}

.unclassified {
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Lobster', cursive;
  }
}

.classified {
  font-family: "1942 report", "Courier New", Courier, monospace;
  background: white url("./xerox.png") no-repeat 100% 25%;
  color: black;
  padding: 20px 80px;
  position: relative;

  em {
    background: black;
  }

  &:after {
    background: transparent url("./topsecret.png") no-repeat 0 0;
    width: 275px;
    height: 275px;
    position: absolute;
    top: 10px;
    right: 10px;
    content: "";
  }
}

a {
  text-decoration: none;
  &, &:visited, &:active {
    color: white;
  }
  &:hover {
    text-decoration: underline;
  }
}

canvas {
  position:absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

#root {
  position:absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  overflow: auto;
}

header {
  text-align: center;

  a {
    text-decoration: none;
    text-decoration: none;
    color: white;
    opacity: 0.8;

    &:hover, &.active {
      opacity: 1;
    }
  }
}

h1 {
  font-weight: normal;
  font-size: 3em;
  margin: 0;
  padding: 0;
}


nav {
  a {
    margin-right: 10px;
  }
}

article {
  max-width: 960px;
  margin: auto;
  padding: 10px;
}

code.language-warning {
  display:block;
  background: white;
  color: #333;
  margin: 0.5em 0;
  padding: 20px;
  border-spacing: 10px;
  font-weight: bold;
  position: relative;
  white-space: break-spaces;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;

  &:after {
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    border: 3px solid #333;
    content: ' ';
  }
}

article {
  img {
    width: 100%;
  }
}

small {
  font-size: 10px;
}